button.getbutton {
    background-color: #0076FF;
    outline: none;
    border: none;
    height: 30px;
    width: 65px;
    border-radius: 999999999px;
    font-weight: bold;
    font-size: 16px;
    margin-top: -9px;
    margin-left: 19px;



    
}
body {
    margin-top: 50px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;
    overflow: hidden;
    text-align: center;


}
.jailbreakbtn {
    background-color: #0076FF;
    outline: none;
    border: none;
    border-radius: 999999px;
    height: 60px;
    width: 220px;
    font-size: 19px;

}
.bottom {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
}
* {
    color: white;

    font-family: Helvetica, Arial, sans-serif;
    overflow: hidden;
}
body * {
    overflow-y: hidden;
}


.optionsPopup {
    position: fixed;
    z-index: 99999;
    left: 50%;
    top: 51.6%;
    transform: translate(-50%, -50%);
    background-color: #1e1e1e;
    width: 90%;
    height: 92%;
    border-radius: 15px;
    text-align: left;
    display: none;
}
.optionsPopup.visible {
    display: unset;
}
.optionsPopup div.option {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
}

.optionsPopup div.option div {
    position: absolute;
    right: 30px;
}
.optionsPopup div.option p {
    padding-left: 20px;
}
div.dropdown {

    background-color: #1C1C1D;
    border: #3E3E3F solid 1px;
    width: 100%;

}
div.dropdown div.elems {
    max-height: 0px;
    display: none;
    padding-left: 12px;
    
}

div.dropdown div.elems div p {
    font-size: 23px;
}
div.dropdown div.elems div p.desc {
    font-size: 14px;
    margin-top: -18px;
    color: #808080;
}



div.dropdown div.elems.visible {
    display: block;
   

}
div.dropdown div.activator {
    height: 80px;


}
div.dropdown div.activator span.name {
    display: flex;

    position: absolute;
    margin-top: -55px;
    margin-left: 65px;

}


.iconopenclose {
    position: absolute;
    right: 22px;
    margin-top: -55px;
}
.iconopenclose_opened {
    rotate: 180deg;
    margin-top: -57.3px;
}

.toggle-switch, .toggle-switch .toggle-knob {
    -moz-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.toggle-switch {
    height: 30px;
    width: 55px;
    display: inline-block;
    background-color: rgb(56,55,59);
    margin: 2px;
    margin-bottom: 5px;
    border-radius: 30px;
    cursor: pointer;

    box-shadow: inset 1px 1px 9px -3px rgba(4, 4, 4, 0.08), 1px 2px 6px -2px rgba(0, 0, 0, 0.01);
}

.toggle-switch .toggle-knob {
    width: 28px;
    height: 26px;
    display: inline-block;
    background-color: #ffffff;
    border: solid 1px rgba(126, 126, 126, 0.07);
    box-shadow: 0 1px 3px rgba(107, 106, 106, 0.26), 0 5px 1px rgba(107, 106, 106, 0.13);
    border-radius: 26px;
    margin: 1px 1px;
}

.toggle-switch.active {
    background-color: #77e189;
    border: solid 1px transparent;
}

.toggle-switch.active .toggle-knob {
    margin-left: 24px;
}

.logs {
    text-align: left;
    padding: 10px 10px;
    background-color: #1e1e1e;
    width: 70%;
    height: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 13px;
    overflow: scroll;
}