body {
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    background-color: black;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    height: 100vh;


}
* {
    color: white;

    font-family: Helvetica, Arial, sans-serif;
}
.app * {
    color: white;

    font-family: Helvetica, Arial, sans-serif;
}



.bottomBar {
    z-index: 9999;
    min-height: 55px;
    background-color: rgba(39, 39, 39, 0.45);

    backdrop-filter: blur(90pt);
    width: 100%;
    height: 5%;
    position: fixed;
    bottom: -1vh;
    left: 0;
    right: 0;

    outline: solid #202020db;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space:inherit;


}
.bottomBar .page {
    align-items: flex-start; /* Align items at the start of the cross axis */
    width: 28%;
    margin: 8px 8px;
    height: 98%;

    display: flex;

    justify-content: center;
    align-items: center;
    font-size: 15.5px;
    color: #929292;

}


.bottomBar .page div {
    
    margin: 10px 10px;
    width: 27px;
    height: 27px;
    background-color: #929292;

}
.bottomBar .page div.appsicon {
    mask: url(/apps.svg) no-repeat center / contain;
    -webkit-mask: url(/apps.svg) no-repeat center / contain;
}
.bottomBar .page div.abouticon {
    mask: url(/about.svg) no-repeat center / contain;
    -webkit-mask: url(/about.svg) no-repeat center / contain;
}


.topbar {
    top: 0;
    left: 0;
    position: fixed;

    width: 100%;
    background-color: rgba(39, 39, 39, 0.45);
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(90pt);
    z-index: 9999;
    outline: solid #202020db;

    

} 
.topbar h3 {
    position: absolute;
    bottom: 0.2px;
}


/* For small screens */
@media (max-width: 768px) {
    .bottomBar .page {
      flex-direction: column;
      font-size: 14px;
    }
  

  }

