@font-face {
    font-family: scientifica;
    src: url('kindleclock/scientifica.ttf');
}
body {
    background-color: rgb(11, 11, 11);
    color: rgb(204, 198, 198);
    font-family: Terminal;
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(212, 212, 212); }
}
div.text {
    position: fixed;
    top: 0;
    width: 100%;
    overflow-y: scroll;
    height: 95%;
    text-wrap:wrap;
    width: 98%;
}

div.text .cursor {
    padding-right: 5px;
    width: fit-content;
    border-right: .40em solid rgb(212,212,212); /* The typewriter cursor */
    animation: 
        blink-caret .75s step-end infinite;
}

body input.hiddeninput {
    opacity: 0;
    position: fixed;
    left:0;
    top:0;
    width:1px;
    height: 2px;

}